body {
  overflow: hidden;
}

.app {
  text-align: center;
}

.copy .logo {
  display:inline;
  vertical-align:middle;
  margin-left: 10px;
  height: 3vmin;
  pointer-events: none;
}

.copy {
  font-size: .9rem;
  padding: 1vh;
  color: #858585;
  opacity: .8;
}

.appNav {
  padding: 1vh;
  position: absolute;
  top: 0;
  right: 0;
}

.appNav button {
  border-left: 1px solid #f1f1f1;
}

.appNav button:first-child {
  border-left: none;
}

.header {
  background-color: #f8f8f8;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}

.header h1 {
  font-family: BarlowCondensed;
  font-style: normal;
  font-weight: 200;
  margin-bottom: 0;
}

.header h1 > strong {
  font-weight: 400;
  font-style: bold;
}


.header h1.titleSmall {
  font-size: 2rem;
}

.content {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 30vh;
  padding: 5vh;
}

.fileUpload, .map {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 35vh;
}

.fileUpload {
  padding: 5vh;
}

.fileUploadDropArea {
  border: 2px dashed #5E5E5E !important;
}

.fileUploadDropArea span {
  font-size: 1.5em;
  text-decoration: none !important;
}

.fileUploadDropArea .file-types {
  font-size: 1em;
  opacity: .5;
}

.fileOtions {
  padding: 3vh;
  font-size: 1rem;
}

.primaryButton, .secondaryButton {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 3px;
  font-weight: bold;
  font-size: 1em;
  box-shadow: none;
  border: none
}

.textButton {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: normal;
  font-size: .9rem;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #858585;
  cursor: pointer;
}

.textButton:hover {
  text-decoration: underline;
}

.primaryButton {
  background-color: #D63F40;
  color: white;
}

.secondaryButton {
  background-color: #E0D9D3;
  color: #5E5E5E;
}

.optionButton {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
  box-shadow: none;
  border: none;
  color: white;
  background-color: #E0D9D3;
}

.optionButtonLeft {
  border-radius: 5px 0 0 5px;
}

.optionButtonRight {
  border-radius: 0 5px 5px 0;
}

.cardOptions {
  display: flex;
  width: 60vw;
}

.cardOption {
  width: 30%;
  cursor: pointer;
  opacity: .7;
}

.cardOption h3 {
  text-transform: capitalize;
}

.cardOptionSelected {
  opacity: 1;
  width: 50%;
}

.cardOption:hover {
  opacity: 1;
}

.cardOptionImage {
  width: 80%;
}

.msgUsername {
  font-weight: bold;
}

.msgDatetime {
  color: #999;
  padding-left: 10px;
}

.githubLink {
  color: #999;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2vh;
  text-decoration: none;
  font-size: .8rem;
}

@font-face {
  font-family: BarlowCondensed;
  font-style: bold;
  font-weight: 400;
  src: url("/public/fonts/BarlowCondensed-Bold.ttf");
}

@font-face {
  font-family: BarlowCondensed;
  font-style: normal;
  font-weight: 200;
  src: url("/public/fonts/BarlowCondensed-Regular.ttf");
}


.map {
  width: 100vw;
  height: 80vh;
}

.activePopupFeatureContent {
  font-size: 1.3em;
}

.popup {
  min-width: 20vw;
}

.popupImage {
  width: 92%;
}